
  /* background-color: ; */


  table {
    width: 100%;
  }
  .user {
    font-size: 50px;
    margin: 100px 620px;
  
  }
  
  button {
    margin: 100px 180px;
    background-color: aqua;
    align-self: auto;
    justify-content: center;
  }
    